extends layout

block content
  h1 #{title} v.1.0
  p This is a simple server that provides a RESTful API wrapper around the <a href="https://github.com/elizaOS/agent-twitter-client">agent-twitter-client</a> code.
